<div>
    <ul>
        <li class="card item flex-box" *ngFor="let word of words"><p class="block">{{word.text}} - {{word.translate.text}}</p> <span class="flex-box buttons"><button class="block button" (click)="setForUpdate(word.id)">update</button><button class="block button" (click)="deleteWord(word.id)">delete</button></span></li>
    </ul>
    <div class="center">
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" name="name" [(ngModel)]="wordText"id='word' required />
            <label for="word" class="form__label">Word</label>
        </div>

        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" name="name" [(ngModel)]="translateText" id='translate' required />
            <label for="translate" class="form__label">Translate</label>
        </div>
        <button class="button main-btn" *ngIf="!updateMode" (click)="submitPost()">ADD</button>
        <button class="button main-btn" *ngIf="updateMode" (click)="submitUpdate()">UPDATE</button>
    </div>
</div>

